.jumbotron {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.jumbotron1 {
    background-color: #477bff;
    color: #fff;

    padding: 2rem 1rem;
    text-align: center;

}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

table {
    border: 1px solid black;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;


  }

  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }


main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}
.form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}
.container {
    height: 800px;
    position: relative;
    border: 3px solid green;
  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }